 /*
brandGreen = "#74ad96"
brandOrange = "#e89b3f"
  */

html {
  position: relative;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.something {
  border-radius: 0;
  background-color: white;
  padding:1.875rem;
  width: 18.75rem;
  margin:3.125rem auto;
  display: flex;
  align-items: center;
  color:black;
  justify-content: center;
  box-shadow: 2px 2px 5px rgb(236, 236, 236);
  border-radius: 5px;
}

.deviceUl {
  list-style: none;
  padding: 1.25rem;
  margin:auto;
  max-width: 62.5rem;
}

.deviceLi {
  display: flex;
  border-bottom:0.0625rem solid rgb(241, 241, 241);
  margin:0.3125rem;
  justify-content: space-between;
}

.deviceDiv {
  margin: 3.125rem 0 6.25rem 0;
}

.deviceDiv h1{
  text-align: left;
  max-width: 62.5rem;
  margin: 0 auto;
  font-size: 2.4em;
  padding:1.25rem;
}

.oauth_wait,
.oauth_success,
.oauth_fail {
  font-weight: 600;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

.oauth_wait {
  color:white;
}

.oauth_success {
  color: rgb(129, 202, 55);
}

.oauth_fail {
  color: red;
}

.App-logo {
  /*animation: App-logo-spin infinite 1s linear;
  */
  padding-bottom: 0.9375rem;
  float:left;
  position: absolute;
  top: -0.8rem;
  left:2.5rem;
  width: 9rem;
}

.App-header {
  padding: 1.25rem;
  background-color: white;
  height: 7.5rem;
  border-bottom: 1px solid rgb(236, 236, 236);
  box-shadow: 2px 2px 5px rgb(236, 236, 236);
}

.App-title {
  font-size: 1.5em;
  padding-top:1.5625rem;
}

.App-intro {
  font-size: large;
}

.App-footer {
  padding: 40px;
  margin-top:20px;
  color: #74747d;
  overflow:hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbarItems {
  height: 5.3125rem;
  display: flex;
  justify-content: right;
  margin-right:.5rem;
  align-items: center;
  
}

.navLinks {
  color: rgb(119, 119, 119);
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
}

.navLinks:hover {
  color: black;
}

.variable-value {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.variable-row:hover {
  background: #ffba6036;
}

.variable-value:hover {
  cursor: pointer;
  background: #ffba60ce;
  border-radius: 8px;
}

.string-value {
  font-weight: 600;
}

.string-value:hover {
  cursor: pointer!important;
}