html {
  position: relative;
  min-height: 100%;
}
body {
  padding: 0;
  margin: 0 0 100px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.something {
  border-radius: 0;
  background-color: rgb(84, 84, 110);
  padding:30px;
  width: 300px;
  margin:50px auto;
  display: flex;
  align-items: center;
  color:white;
  justify-content: center;
}

.deviceUl {
  list-style: none;
  padding: 20px;
  margin:auto;
  max-width: 1000px;
}

.deviceLi {
  display: flex;
  border-bottom:1px solid rgb(241, 241, 241);
  margin:5px;
  justify-content: space-between;
}

.deviceDiv {
  margin: 50px 0 100px 0;
}

.deviceDiv h1{
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 2.4em;
  padding:20px;
}

.oauth_wait,
.oauth_success,
.oauth_fail {
  font-weight: 600;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.oauth_wait {
  color:white;
}

.oauth_success {
  color: rgb(129, 202, 55);
}

.oauth_fail {
  color: red;
}



.App-logo {
  /*animation: App-logo-spin infinite 1s linear;
  */
  padding-bottom: 15px;
  float:left;
  position: absolute;
  top:-40px
}

.App-header {
  background-color: #eeeeef;
  padding: 20px;
  height: 120px;
}

.App-title {
  font-size: 1.5em;
  padding-top:25px
}

.App-intro {
  font-size: large;
}

.App-footer {
  background-color: #eeeeef;
  padding: 40px;
  margin-top:20px;
  color: #74747d;
  overflow:hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
